.print-format:after {
    content: "THIS IS NOT A SALES INVOICE";
    color: #b9b9b9;
    font-size: 50px;
    transform: rotate(325deg);
    -webkit-transform: rotate(325deg);
    z-index: 0;
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 26%;
    left: 12%;
}
.print-format .page-break, .section-break, #footer-html, #header-html{
	z-index: 1;
}
.print-format{
   position: relative;
}
h3.print-heading{
   padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
}
