.navbar-header {
  display: none;
}
body.body_login{
    background: url(/files/bg_2-min.jpg) no-repeat center center fixed;
    background-size: cover;
}

body.body_login div.hero-and-content {
    background-color: transparent;
}
#page-login .btn-primary{
	    border-color: #41a541;
    background-color: #41a541;
color: #fff;
}
#page-login .btn-primary:hover, #page-login .btn-primary:focus,#page-login .btn-primary.focus, #page-login .btn-primary:active, #page-login .btn-primary.active, #page-login .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3a933a;
    border-color: #3a933a;
}
#page-login .form-footer, #page-login .form-footer a{
    font-size: 12px;
    color: #f5f5f5;
    font-weight: bold;
}
#page-login .login-content .btn{
	    margin-top: 25px;
}
#page-login .indicator.blue::before, #page-login .indicator-right.blue::after{
	background-color: #3a933a;
}
#page-login .page-card{
	border-radius: 0;
}
